#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/05dc0679-6e92-46c6-b742-11926f9bf325/ # 
title: onlineshopping
/user:
  post:
    body:
      application/json:
        example: !include AKfirstRAMEL/userPOST.json   
    responses:
      201:
        body:
          application/json:
            example:
              {"uid":100}
/products:
  get:
    description: 
    responses:
      200:
        body:
          application/json:
            example: !include AKfirstRAMEL/productGET.json
              
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include AKfirstRAMEL/ProductIDGET.json
                
/categories:
  get:
    description: To retrieve the catagories
    responses:
      200:
        body:
          application/json:
            example: !include AKfirstRAMEL/CatagoryGET.json
              
 
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "categoryid": 10,
                  "name": "labtop"
                }
/order:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include AKfirstRAMEL/OrderGET.json
                           

  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include AKfirstRAMEL/OrderID.json 
                
  post:
    body:
      application/json:
        example: !include AKfirstRAMEL/OrderPOST.json 
                  
    responses:
      201:
        body:
          application/json:
            example: !include AKfirstRAMEL/OrderPostRESPONCE.json 
              

                    
              

